/*General*/

body {
	font-family: Quicksand;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Quicksand;
}

body {
	background-image: url(../img/galaxy.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	background-position: bottom center;
	font-size: 1.7em;
	color: #fff;
}

h1 {
	margin-bottom: 1em;
}

.row {
	margin-bottom: 1em;
}

#frost_pannel {
	background-color: rgba(0, 0, 0, 0.8);
	margin: 1em;
	padding: 1.2em;
	min-height: 700px;
	border-radius: 2px;
}

.button {
	border-radius: 2px;
}

ul {
	margin: 0;
	list-style: none;
}

li {
	display: inline-block;
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 0.4);
}

li:active {
	background-color: rgba(255, 255, 255, 0.8);
}

.blueBackground {
	background-color: rgba(33, 153, 232, 0.80);
}

li label {
	color: #fff;
	padding: 5px;
	min-width: 100px;
}

.small_input_style {
	border-radius: 2px;
	padding: 5px;
}

.small_input_label {
	padding: 0;
	margin: 0;
}

.checkbox {
	width: 15px;
	height: 15px;
}

.noselect {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#fileInputsLabel,
#fileErrorsLabel {
	display: inherit;
}