/*General*/

body {
	font-family: Quicksand;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Quicksand;
}

body {
	background-image: url(../img/galaxy.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	background-position: bottom center;
	font-size: 1.7em;
	color: #fff;
}

h1 {
	margin-bottom: 1em;
}

.row {
	margin-bottom: 1em;
}

#frost_pannel {
	background-color: rgba(0, 0, 0, 0.8);
	margin: 1.5em;
	padding: 2em;
	min-height: 700px;
}

ul {
	margin: 0;
	list-style: none;
}

li {
	display: inline-block;
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 0.4);
}

li:active {
	background-color: rgba(255, 255, 255, 0.7);
}
label {
	color: #fff;
}

li label {
	color: #fff;
	padding: 5px;
	min-width: 100px;
}

.checkbox {
	width: 15px;
	height: 15px;
}

.noselect {
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

#fileInputsLabel, #fileErrorsLabel {
	display: inherit;
}
