<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>GAME | Home</title>

	<!-- fonts adn icons -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Quicksand" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='foundation-icons/foundation-icons.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/foundation.css') }}" />
	<!-- labels multi select form -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chosen.css') }}">
	<!-- style -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
	<!-- icon -->
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}">
	<!-- google recaptcha-->
	<script src="https://www.google.com/recaptcha/api.js"></script>

</head>

<body class="noselect">
	<div class="frost_pannel" id="frost0">
		<h1>Galaxy Machine Learning for Emission Lines</h1>
		<h2>What is GAME?</h2>
		<p>
			<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit repudiandae, ea similique! Sit labore soluta dicta minima numquam quos voluptatem et earum, temporibus, quam, eum ut dolorum est perspiciatis excepturi.</span>
			<span>Beatae amet, molestias ipsam velit voluptate minima quo reiciendis vitae voluptatem, provident cupiditate id dolore deserunt saepe fuga eaque similique. Officia repellat eligendi reprehenderit, voluptas dolorum dolore ab repudiandae debitis.</span>
			<span>Accusantium qui voluptate animi quasi obcaecati error minima repudiandae laborum deleniti ut, voluptatem voluptates. Quis veniam obcaecati, aut cupiditate facilis non libero incidunt facere, placeat eveniet qui earum ullam nisi.</span>
			<span>Repellat voluptates dolor corporis, ad, placeat sunt, dolore eligendi, autem eveniet aperiam nobis sit iure asperiores perspiciatis magnam odit eaque maiores. Sunt explicabo nemo molestiae recusandae officiis, odio necessitatibus deserunt.</span>
			<span>Beatae iure voluptatum modi consequatur quia error accusantium distinctio sunt, illo qui. Autem possimus, quisquam ea tempore quasi pariatur doloribus, esse perferendis architecto eos, tempora veritatis, soluta fugit quam cumque?</span>
		</p>
	</div>
	<div class="frost_pannel" id="frost1">
		<h1>How to use our site</h1>
			<ol>
				<li>You must use two '.dat' files and upload them with the corresponding upload button.</li>
				<li>You must select the correct "emission lines" in the exact same order that they are on your files.</li>
				<li>Select at least 1 physical propriety.</li>
				<li>If u need ("SOMETHING") then select YES for the optional files.</li>
				<li>Please check your email or else you won't be able to receive your results</li>
			</ol>
	</div>

	<div class="frost_pannel tool" id="frost2">
		<div class="row">
			<h4>Upload your files :</h4>
			<form action="" method=post enctype="multipart/form-data" id="filesForm">
				<div class="large-3 columns">
					<label for="fileInputs" id="fileInputsLabel" class="button">
						Upload input files
						<br>
						(emission line intensities)
					</label>
					<input type="file" id="fileInputs" name="fileInputs" class="show-for-sr">
				</div>
				<div class="large-3 columns end">
					<label for="fileErrors" class="button" id="fileErrorsLabel">
						Upload errors file
						<br>
						(emission line uncertainties)
					</label>
					<input type="file" id="fileErrors" name="fileErrors" class="show-for-sr">
				</div>
			</form>
		</div>
		<div class="row">
			<div class="clearfix">
				<h4>List of emission lines corresponding in the input files :</h4>
				<div class="large-6">
					<select data-placeholder="Select labels of input file" multiple class="chosen-select" tabindex="-1" id="labels_selector"> </select>
				</div>
			</div>
		</div>
		<div class="row">
			<h4>Check at least 1 of these physical properties :</h4>
			<ul>
				<li>
					<label class="small_input_label" for="checkbox0">
							<div class="small_input_style">
								<input class="checkbox" id="checkbox0"
									   type="checkbox"> n / cm<sup>-3</sup>
							</div>
						</label>
				</li>
				<li>
					<label class="small_input_label" for="checkbox1">
						<div class="small_input_style">
							<input class="checkbox" id="checkbox1"
								   type="checkbox"> N <sub>H</sub> /
							cm<sup>-2</sup></div>
					</label>
				</li>
				<li>
					<label class="small_input_label" for="checkbox2">
						<div class="small_input_style">
							<input class="checkbox" id="checkbox2"
								   type="checkbox"> G / G <sub>0</sub></div>
					</label>
				</li>
				<li>
					<label class="small_input_label" for="checkbox3">
						<div class="small_input_style">
							<input class="checkbox" id="checkbox3"
								   type="checkbox"> U
						</div>
					</label>
				</li>
				<li>
					<label class="small_input_label" for="checkbox4">
						<div class="small_input_style">
							<input class="checkbox" id="checkbox4"
								   type="checkbox"> Z / Z <sub>0</sub></div>
					</label>
				</li>
				<li>
					<label class="small_input_label" for="checkbox5">
						<div class="small_input_style">
							<input class="checkbox" id="checkbox5"
								   type="checkbox"> F<sub>esc</sub></div>
					</label>
				</li>
				<li>
					<label class="small_input_label" for="checkbox6">
						<div class="small_input_style">
							<input class="checkbox" id="checkbox6"
								   type="checkbox"> A<sub>V</sub></div>
					</label>
				</li>
			</ul>
		</div>
		<div class="row">
			<h4>Do you want the optional files?</h4>
			<ul>
				<li>
					<label class="small_input_label" for="yes-optional">
						<div class="small_input_style">
							<input type="radio" name="optional_files"
								   value="True" id="yes-optional"> YES
						</div>
					</label>
				</li>
				<li>
					<label class="small_input_label" for="no-optional">
						<div class="small_input_style blueBackground">
							<input type="radio" name="optional_files"
								   value="False" id="no-optional" checked> NO
						</div>
					</label>
				</li>
			</ul>
		</div>
		<div class="row">
				<h4>Your email address:</h4>
				<div class="medium-6 large-4 columns">
					<input id="email" type="email" placeholder="Valid email">
				</div>
			<h4>Click to send data:</h4>
			<div class="medium-6 large-4 columns" style="float: left;">
				<button class="alert button expanded run" id="run">You are NOT ready</button>
				<div id="captcha_container"></div>
			</div>
		</div>

	</div>

	<div class="frost_pannel" id="frost3">
		<h1>Useful links and credits</h1>
		<ul>
			<li><a href="http://cosmology.sns.it/index.html" target="_blank">COSMOLOGY RESEARCH GROUP</a></li>
			<li><a href="https://www.sns.it/" target="_blank">SCUOLA NORMALE SUPERIORE</a></li>
			<li><a href="https://github.com/grazianoucci/game" target="_blank">GITHUB - GAME ALGORITHM</a></li>
			<li><a href="https://github.com/sirfoga/gamecourse" target="_blank">GITHUB - WEB TOOL</a></li>
			<li><a href="https://github.com/grazianoucci/game" target="_blank">GITHUB - BACKEND</a></li>

		</ul>
	</div>
	<div id="cover-body"></div>
	<div id="server-response">
		<div>
			Messaggio sponsorizzato da SNS:
		</div>
		<div>
			Compra anche tu una galassia e potrai far parte degli illuminati....
		</div>
		<div id="response-foot">
			Click anywhere to close this message
		</div>
	</div>

</body>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-1.9.0.min.js"></script>

<!-- files -->
<script src="{{ url_for('static', filename='js/foundation.js') }}"></script>
<script src="{{ url_for('static', filename='js/small_input_style.js') }}"></script>
<script src="{{ url_for('static', filename='js/read_files.js') }}"></script>

<!-- multi select -->
<script src="{{ url_for('static', filename='js/chosen.jquery.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/docsupport/prism.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/docsupport/init.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/init.js') }}" type="text/javascript"></script>
<script type="text/javascript">
	init("{{url_for('static', filename='img/checked.png') }}");
	populateLabelsTable("{{ url_for('static', filename='data/labels_options.txt') }}");
</script>

</html>
