/*General*/

body {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(../img/ngc2237_1024.jpg) no-repeat fixed;
	background-position: bottom center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #c7ebe8;
	font-size: 1.8em;
}

body * {
	font-family: Quicksand;
}

h1 {
	margin-bottom: 1em;
}

p {
	font-size: 0.8em;
}

b {
	font-size: 1.2em;
}

.row {
	margin-bottom: 1em;
}

.frost_pannel {
	margin: 1em;
	padding: 1.2em;
	border-radius: 2px;
	background-color: rgb(29, 36, 42, 0.8);
}

.button {
	border-radius: 2px;
}

.tool ul {
	margin: 0;
	list-style: none;
}

.tool li {
	display: inline-block;
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 0.4);
}

.tool li:hover {
	background-color: rgba(100, 100, 100, 0.4);
}

.tool li:active {
	background-color: rgba(255, 255, 255, 0.8);
}

.blueBackground {
	background-color: rgba(33, 153, 232, 0.80);
}

.tool li label {
	min-width: 100px;
	color: #fff;
	cursor: pointer;
}

.small_input_style {
	padding: 5px;
	border-radius: 2px;
}

.small_input_label {
	margin: 0;
	padding: 0;
}

.checkbox {
	width: 15px;
	height: 15px;
}

.noselect {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#fileInputsLabel,
#fileErrorsLabel {
	display: inherit;
}

.chosen-choices {
	border-radius: 2px;
}

#email {
	border-radius: 2px;
}

#cover-body {
	position: fixed;
	top: 0px;
	left: 0px;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	cursor: pointer;
}

#server-response {
	position: absolute;
	top: 10%;
	left: 25%;
	display: none;
	padding: 2em;
	width: 50%;
	height: 80%;
	border-radius: 2px;
	background-color: rgb(29, 36, 42, 0.95);
}

#response-head {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: .5em;
	margin-right: 1em;
	cursor: pointer;
	font-size: 1.5em;
}

.frost0 {
	max-height: 5em;
	overflow: hidden;
	-webkit-transition: max-height .5s ease;
	transition: max-height .5s ease;
}

.frost0:hover {
	background-color: rgba(17, 19, 20, 0.95);
}

#title0 {
	cursor: pointer;
}
.mostra {
	-webkit-transition: max-height 2s ease;
	transition: max-height 2s ease;
	max-height: 700000px;
	overflow: auto;
}

.mostra:hover {
	background-color: rgb(29, 36, 42, 0.80);
}

.title_pannel img {
	float: left;
	width: 3em;
	margin-right: 1em;
}

footer {
	font-size: .5em;
	text-align: right;
	margin-right: .5em;
	margin-bottom: .5em;
}

footer a {
	text-decoration: underline;
}

.codice{
	max-width: 100%;
}

pre {
	font-size: .4em;
	border: 0;
	padding: .5em;
	line-height: 1.1;
	background-color: #eeeeee;
	border-radius: 2px;
	overflow: hidden;
}

code {
	background-color: transparent;
	border: none;
}

code span {
	color: #555555;
	font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

.text_input div{
	padding-left: 0;
}

.row div {
	padding-bottom: 5px;
}

#send_data {
	float: right;
}

#info {
	float: right;
	font-size: 35px;
	color: #fff;
}

#info:hover {
	color: #2199e8;
}